
/*
	project:  Ramadan
	author:   bisher al-Halabi (Drupal=q8doc)  
*/


*{ margin: 0; padding: 0; }* 
body { 
	font: .74em Verdana, Arial, "Trebuchet MS", Tahoma, sans-serif; 
	line-height: 1.6em;
	background: #fff url(images/bck.png);
	color: #444; 
}

a {	color: #317486;	 text-decoration: none; }
a:hover { color: #808080;}
p { margin: 0 0 15px 0; }
h1 { font: bold 1.7em Arial, Sans-Serif;  margin: 20px 0 0; }
h1 a { color: #fff;  }
h1 a:hover { color: #E4FFD3;  }
h2 { font: bold 1.6em Arial, Sans-Serif; margin: 0 0 12px; }
h4 { color: #808080; background: inherit; font-weight: normal; font-size: .9em; }

#content { width: 900px; margin: 0 auto; }

#logo { margin: 0px 0 0 0; height: 66px; width: 240px; float: center; text-align: center;}

#menu { float: right; padding: 40px 0 0; margin: 0 0 18px; }
#menu li { font-size: 1.1em; display: inline; }
#menu li a { padding: 30px 15px 0px 0; margin: 0 0 0 50px; color: #ccc;  }
#menu li a:hover {  color: #FEFFB8; }

#intro { 
	clear: both;
	background: #fff url(intro.jpg) no-repeat;
	color: #4C8734;
	height: 150px;
	margin: 0 0 0px;
	padding: 45px 40px 0 0;
	text-align: right;
}
	#intro h1 { margin: 0; }
	#intro p { margin: 0; }
	
	#login { font-size: .9em; margin: 82px 0 0; }
	#login a { color: #fff; background: #8BE1FA; padding: 4px 20px 6px;}
	#login a:hover { color: #fff; background: #8BE1FA url(loginhover.gif) no-repeat; }

#left { clear: left; float: left; width: 15%; padding: 0 0px 0 0px; font-size: .9em; margin: 0 0 0px; }
	#leftmenu { list-style: none; margin: 0 0 20px 0; }
	#leftmenu li { padding: 0 0 0 12px; background: #fff url(bullet.gif) no-repeat center left; color: #46852F; }
	#leftmenu li a { background: #EAFFE3; color: #46852F; }
    ul.menu { list-style: none; margin: 0 0 20px 0; }
    ul.menu li { padding: 0 0 0 12px; background: #fff url(bullet.gif) no-repeat center left; color: #46852F; }
    ul.menu li a { background: #EAFFE3; color: #46852F; }
    li.collapsed { list-style: none; margin: 0 0 20px 0; }
    li.collapsed { padding: 0 0 0 12px; background: #fff url(bullet.gif) no-repeat center left; color: #46852F; }
    li.collapsed a { background: #EAFFE3; color: #46852F; }
#left dt { padding: 0 0 0 12px; background: #fff url(bullet.gif) no-repeat center left; color: #46852F; }
#left dd { margin: 0 0 0 25px; }

#right {
	margin: 0 0px 0px 0;
	padding: 0 0 0 30px;
	border-left: 1px solid #ccc;
	float: right;
	width: 80%;
	text-align: justify;
}
	#notice { padding: 12px 14px 1px; background: #f4f4f4 url(noticebg.gif) no-repeat bottom right; color: #808080; }
	#left a { background: #EAFFE3; color: #46852F; }
    #right a { background: #EFFCFF; color: #317486; }

	#left h3 { border-bottom: 1px solid #eee; padding: 0 0 7px; margin: 0 0 15px 0; }
	#right h2 { border-bottom: 1px solid #ccc; padding: 0 0 8px; }
#right dt { padding: 0 0 0 12px; background: #fff url(bullet.gif) no-repeat center left; color: #317486; }
#right dd { margin: 0 0 0 25px; }

#footer { clear: both; border-top: 1px solid #ccc; padding: 10px 0; margin: 0 0 15px; font-size: .9em; color: #808080; background: #fff; }
	#footer a { color: #4CA031; background: #fff; }
	#col1 { float: left; width: 575px; padding: 7px 0 0 15px; margin: 0 0 10px; }
	#col3 { float: right; width: 250px; border-left: 1px solid #ccc; padding: 7px 0 0 40px; }
.field-item img { float: right; border: 1px solid #000; padding: 1px; margin-left: 10px; margin-bottom: 10px; }
div.clear { clear: both; }
div.node { margin-bottom: 15px; }